- name: Push simple config to 3 IOS routers
  hosts: cisco_ios
  gather_facts: no

  vars:
    ntp_server: 192.168.1.1
    loopbacks:
      R1: 10.255.1.1 255.255.255.255
      R2: 10.255.1.2 255.255.255.255
      R3: 10.255.1.3 255.255.255.255

  tasks:
    - name: Configure NTP and Loopback0
      cisco.ios.ios_config:
        lines:
          - "ntp server {{ ntp_server }}"
          - "interface Loopback0"
          - "ip address {{ loopbacks[inventory_hostname] }}"
      register: cfg

    - name: Save config only if changed
      cisco.ios.ios_command:
        commands:
          - write memory
      when: cfg.changed
